{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    {{ grid(grid) }}

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
